<!-- INICIO CARTA -->
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">Entrantes</a>
            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="media-list">
                    <li class="well media col-md-12" ng-repeat="plato in carta.platos.entrantes" ng-class="">
                        <img class="img-responsive col-md-2" ng-src="{{plato.th}}">
                        <div class="media-body col-md-10">
                            <h3 class="media-heading">{{plato.nombre}}</h3>
                            <p>{{plato.descripcion}}</p>
                            <p>Precio: {{plato.precio | currency}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">Primeros</a>
            </div>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="media-list">
                    <li class="well media col-md-12" ng-repeat="plato in carta.platos.entrantes" ng-class="">
                        <img class="img-responsive col-md-2" ng-src="{{plato.th}}">
                        <div class="media-body col-md-10">
                            <h3 class="media-heading">{{plato.nombre}}</h3>
                            <p>{{plato.descripcion}}</p>
                            <p>Precio: {{plato.precio | currency}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">Segundos</a>
            </div>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="media-list">
                    <li class="well media col-md-12" ng-repeat="plato in carta.platos.entrantes" ng-class="">
                        <img class="img-responsive col-md-2" ng-src="{{plato.th}}">
                        <div class="media-body col-md-10">
                            <h3 class="media-heading">{{plato.nombre}}</h3>
                            <p>{{plato.descripcion}}</p>
                            <p>Precio: {{plato.precio | currency}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">Postres</a>
            </div>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="media-list">
                    <li class="well media col-md-12" ng-repeat="plato in carta.platos.entrantes" ng-class="">
                        <img class="img-responsive col-md-2" ng-src="{{plato.th}}">
                        <div class="media-body col-md-10">
                            <h3 class="media-heading">{{plato.nombre}}</h3>
                            <p>{{plato.descripcion}}</p>
                            <p>Precio: {{plato.precio | currency}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">Bebidas</a>
            </div>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="media-list">
                    <li class="well media col-md-12" ng-repeat="plato in carta.platos.entrantes" ng-class="">
                        <img class="img-responsive col-md-2" ng-src="{{plato.th}}">
                        <div class="media-body col-md-10">
                            <h3 class="media-heading">{{plato.nombre}}</h3>
                            <p>{{plato.descripcion}}</p>
                            <p>Precio: {{plato.precio | currency}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- FIN CARTA -->
